<% include partials/header %>

<div>
<h2>Show All Trails</h2>

     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% trails.forEach(function(trail){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= trail.image %>">
                   <div class="caption">
                       <h4><%= trail.trail %></h4>
                   </div>
                  <h4><%= trail.description %></h4>
                  <br/>
                  <h4><%= trail._id %></h4>

                </div>
            </div>
        <% }); %>
    </div>

</div>

<% include partials/footer %>

